<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Agregar ciudad</h4>
                        <p class="category">Seleccione la ciudad a agregar</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form class="left" role="search">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <!--<label class="control-label">City</label>-->
                                        <input id="mapsearch" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--<div class="col-md-6">
                                    <div class="form-group form-black is-empty">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="material-input"></span>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-danger pull-left">Agregar ciudad</button>
                                </div>
                            </form>
                        </div>
                        <div class="row" style="height:400px;">
                            <maps-cmp></maps-cmp>
                        </div>
                    </div>
                </div>
            </div>

            <!--Lista de ciudades-->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ciudad of ciudades">
                                    <td>{{ciudad.nombre}}</td>
                                    <td>{{ciudad.pais}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>