<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Agregar evento</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre</label>
                                    <input [(ngModel)]="oEvento.nombre" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header" data-background-color="red">
                                        Sensores
                                    </div>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group form-black label-floating is-empty">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle dropdown-Width" type="button" data-toggle="dropdown">
                                                            <span>{{CampoTS}}</span>
                                                            <span class="caret">  </span>
                                                        </button>
                                                        <ul class="dropdown-menu" style="z-index: 1;">
                                                            <li *ngFor="let tipoSensor of tipoSensores">
                                                                <a (click)="changeTipoSensor(tipoSensor)" style="cursor: pointer;">{{tipoSensor.nombre}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-black label-floating is-empty">
                                                    <label class="control-label">Regla</label>
                                                    <input [(ngModel)]="oDispositivo.regla" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-black label-floating is-empty">
                                                    <button type="button" class="btn btn-danger pull-left" (click)="agregarDispositivo()"> Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de sensor</th>
                                                    <th>Regla</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let dispositivo of dispositivos">
                                                    <td>{{dispositivo.tipo}}</td>
                                                    <td>{{dispositivo.regla}}</td>
                                                    <td (click)="eliminarDispositivo(dispositivo)"><i class="material-icons link">delete</i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger pull-left" (click)="agregarEvento()"> Agregar evento</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Mis eventos</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad sensores asociados.</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let evento of eventos">
                                    <td>{{evento.nombre}}</td>
                                    <td>{{evento.dispositivos.length}}</td>
                                    <td (click)="editarEvento(evento)"><i class="material-icons link">mode_edit</i></td>
                                    <td (click)="eliminarEvento(evento)"><i class="material-icons link">delete</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
